.app-container {
  margin-top: 50px;
  text-align: center;
}

.login-button,
.register-button {
  padding: 10px 20px;
  margin: 10px;
  margin-top: 75px; 
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
}

.login-button:hover,
.register-button:hover {
  background-color: #0056b3;
}

h1 {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.control {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}
