.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .modal h2 {
    margin-top: 0;
  }
  
  .battlefield-images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .battlefield-images img {
    width: 250px; 
    height: 250px; 
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  
  .battlefield-images img:hover {
    transform: scale(1.05);
  }
.battlemaps{
    max-width: 100%;
  max-height: 150px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  border: 1px solid #ddd;
}  